.underline-animated {
  position: relative;
  display: inline-block;
}

.underline-animated::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: goldenrod;
  transition: width 0.3s ease-in-out;
}

.underline-animated:hover::after {
  width: 100%;
}
